dialog[open]#end-message {
  background: rgba(0, 0, 0, 0.5);
  border: 0px none;
  margin: 0;
  padding: 1.2ex;
  z-index: 9999;
  width: 100dvw;
  height: 100dvh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: center;
  align-items: stretch;
  border: 0px none;
}

#end-message .button.close {
  width: 100%;
  margin-left: 0;
  margin-top: 0;
}
#end-message h2 {
    margin-top: 0;
}
#end-message #success {
    margin-bottom: -2ex;
}

#end-message > div div {
    border: none;
}
#end-message > div {
  background: white;
  border: 1ex solid white;
  border-radius: 1ex 1ex 1ex 1ex;
  margin-top: 1ex;
  margin-bottom: 1ex;
  padding: 1ex;
  overflow-x: hidden;
  overflow-y: scroll;
}