.mini-game {
  position: relative;
}

.mini-game h3 {
    text-align: center;
    padding-top:.3ex;
    padding-bottom:.3ex;
}

.mini-game .back-button {
    z-index: 9;
    position: absolute;
    top: 3ex;
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: end;
    justify-items: center;
    margin-left: -2ex;
    margin-right: 1ex;
}
.mini-game .skip-button {
    position: absolute;
    z-index: 9;
    top: 3ex;
    right: -3ex;
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: end;
    justify-items: center;
    opacity:.2;
    padding-top:1ex;
}
.mini-game .big-button .icon {
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    font-size: 2em;
    font-weight: bolder;
    margin-top: -.1ex;
    margin-bottom: -.8ex;
}
.mini-game .big-button .text {
    text-align: center;
    font-size: .8em;
    font-style: italic;
    margin-bottom: 1.5ex;
  font-variant: small-caps;
}
