#game-diff {
  min-height: calc(100vh - 3ex);
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  gap: 0em 0em;
  margin-bottom: 2ex;;
  z-index: 7;
  flex-direction: column;
  flex-wrap: nowrap;
}

#game-diff h3 {
  margin-bottom: 2ex;
}
#game-diff p {
  margin-top: 0;
}
#game-diff .seeker {
  padding: 1ex;
  padding-bottom: 0;
  margin: -2ex;
  margin-top: 0;
  margin-bottom: 1ex;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: stretch;
  gap: 2ex;
}

#game-diff .seeker > div { 
  position: relative;
}
#game-diff .seeker > div > img {
  width: 100%;
  background: rgba(234, 234, 234, 1);
  border: 1px solid #7e7e7eff;
  margin: -1px;
  margin-top: -2px;
}


.hotspot {

  /* TODO REMOVE */
  background-color: rgba(0, 255, 0, 0);
  border: 3px solid transparent;
  border-radius: 100% 100% 100% 100%;
  position: absolute;
  z-index: 9;
  aspect-ratio: 1/1;
}

.hotspot.marked {
  border: 3px solid rgba(255, 0, 0, .7);
  touch-action: none;
  pointer-events: none;
}


#game-diff .button.back {
  width: 100%;
  margin-left:0;
  margin-top:0;
}