#game-simon .sound-notice {
    color: darkred;
    text-decoration: underline;
    font-weight: bold;
}
#game-simon .bad-rime {
    color: darkgray;
    text-decoration: italic;
}

#game-simon .double-height {
    height: 3em;
    margin-bottom: .5ex;
}