#game-slider {
    min-height: calc(100dvh - 6ex);
}
#game-slider .klotski-board {
    position: relative;
}

#game-slider .klotski-board {
  position: relative;
  margin: auto;
  border: 3px solid #222;
  background: #f6f6f6;
  box-sizing: content-box;
  pointer-events: none;
  touch-action: none;
  border-radius: 8px  8px  8px 8px;
}
#game-slider .exit {
  position: absolute;
  background: #4caf50;
  border: 3px solid #222;
  border-top: 2px dashed #2e7d32;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #2e7d32;
  z-index: 2;
  box-sizing: border-box;
  border-radius: 0 0 8px 8px;
}
#game-slider .exit::before {
  position: absolute;
  background: transparent;
  border-top: 3px solid #222;
  border-right: 3px solid #222;
  width: 8px;
  height: 8px;
  display: block;
  content: '';
  z-index: 2;
  box-sizing: border-box;
  border-radius: 0 8px 0 8px;
  left:-8px;
  top: -2px;
}
#game-slider .exit::after {
  position: absolute;
  background: tranparent;
  border-top: 3px solid #222;
  border-left: 3px solid #222;
  width: 8px;
  height: 8px;
  display: block;
  content: '';
  z-index: 2;
  box-sizing: border-box;
  border-radius: 8px 0 8px 0;
  right:-8px;
  top: -2px;
}

#game-slider .piece {
  position: absolute;
  border: 2px solid #333;
  background: #ccc;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
  cursor: grab;
  user-select: none;
  opacity: 1;
  z-index: 3;
  transition: left 0.1s, top 0.1s;
  box-sizing: border-box;
  pointer-events: all;
  touch-action: all;
}
#game-slider .piece.dragging {
  opacity: 0.5;
  z-index: 10;
}

#game-slider .ghost-piece {
  position: absolute;
  background: #fff;
  border: 2px dashed #333;
  border-radius: 6px;
  opacity: 0.5;
  pointer-events: none;
  touch-action: none;
  z-index: 5;
}
#game-slider .big-button.reset[disabled] {
    display: none;
}
#game-slider .big-button.reset {
    cursor-events: all;
    touch-action: all;
    position: absolute;
    z-index: 999;
}#game-slider .big-button.reset .icon { */
    padding-top: .6ex;
    padding-bottom: .4ex;
}
